# resaurantRating

## ETL Group Project

    Germaine Johnson, Jeremy Jones, Reza Abasaltian
    October 27, 2020

### Google Places API - Text Search

In [29]:
# Import dependencies
import requests
from pprint import pprint
import pandas as pd
from datetime import datetime, timedelta
from config import password
import sqlalchemy
from sqlalchemy.ext.automap import automap_base
from sqlalchemy.orm import Session
from sqlalchemy import create_engine, func, inspect
# Google developer API key
from api_key import gkey

# Set today as current date and time
t = datetime.now()

# Print todays date formatted as mm/dd/yy
date = t.strftime('%m/%d/%y')

# format time to round to the nearest hour in hundreds
time = (t.replace(second=0, microsecond=0, minute=0, hour=t.hour)
                        + timedelta(hours=t.minute//30))
hour = time.strftime('%H'+'00')

print(f'Today is {date} @ {hour} hour.')

Today is 10/24/20 @ 1000 hour.

In [30]:
# assign zip code for the base of our search
target_zip = "77056"

# distance, IN METERS, within which the place results must live from assigned zip code
target_radius = 11111

# type of establishment to filter place results
target_type = "restaurant"

In [31]:
# base url
base_url = "https://maps.googleapis.com/maps/api/place/textsearch/json"

In [32]:
# set up a dictionary to store all query parameters - for initial page and first 20 listings
params = {
    "query": target_zip,
    "radius": target_radius,
    "type": target_type,
    "key": gkey
}

# run a request using our params dictionary
response = requests.get(base_url, params=params)

# print the response status code
print(f'first response: {response.status_code}')

first response: 200

In [33]:
# convert the response to json
response_json = response.json()

In [34]:
print(f'Total {target_type} listings retrieved on first response: {len(response_json["results"])}')

Total restaurant listings retrieved on first response: 20

In [35]:
# set up a dictionary to store all query parameters - next page and next 20 listings, second response
params = {
    "query": target_zip,
    "radius": target_radius,
    "type": target_type,
    "key": gkey,
    "pagetoken": response_json['next_page_token']
}

# run a request using our params dictionary
response2 = requests.get(base_url, params=params)

# print the response status code
print(f'second response: {response2.status_code}')

# convert the response to json
response_json2 = response2.json()

second response: 200

In [36]:
# set up a dictionary to store all query parameters - next page and next 20 listings, third response
params = {
    "query": target_zip,
    "radius": target_radius,
    "type": target_type,
    "key": gkey,
    "pagetoken": response_json2['next_page_token']
}

# run a request using our params dictionary
response3 = requests.get(base_url, params=params)

# print the response status code
print(f'third response: {response3.status_code}')

# convert the response to json
response_json3 = response3.json()

third response: 200

In [37]:
def getPlaces(response_json, i, date, hour):
    places = []
    for result in response_json['results']:
        place = {}
        try:
            place['id'] = i
            place['name'] = result['name']
            address = result['formatted_address']
            s = address.split(', ')
            s2 = s[2].split(' ')   
            place['street'] = s[0]
            place['city'] = s[1]
            place['state'] = s2[0]
            place['zip code'] = s2[1]
            place['avg rating'] = result['rating']
            place['total ratings'] = result['user_ratings_total']
            place['price level'] = result['price_level']
            place['date'] = date
            place['hour'] = hour
            places.append(place)
            i+=1
        
        except (KeyError, IndexError) as e:
            if str(e) == "'price_level'":
                place['price level'] = "NA"                  
                places.append(place)
                print(f'Missing field/result... set NA. {str(e)}, listing {i}')
                i+=1
            else:
                print(f'Missing field/result... skipping. {str(e)}')        
    return places

In [38]:
# call get place function for each response
df_places1 = pd.DataFrame(getPlaces(response_json,0,date,hour))
df_places2 = pd.DataFrame(getPlaces(response_json2,len(df_places1),date,hour))
df_places3 = pd.DataFrame(getPlaces(response_json3,(len(df_places1)+len(df_places2)),date,hour))

Missing field/result... skipping. list index out of range
Missing field/result... set NA. 'price_level', listing 0
Missing field/result... set NA. 'price_level', listing 4
Missing field/result... set NA. 'price_level', listing 12
Missing field/result... set NA. 'price_level', listing 15
Missing field/result... set NA. 'price_level', listing 17
Missing field/result... set NA. 'price_level', listing 21
Missing field/result... set NA. 'price_level', listing 32
Missing field/result... set NA. 'price_level', listing 37

In [39]:
# Concatenate all 3 API responses
df_places = pd.concat([df_places1, df_places2, df_places3], axis=0)
df_places = df_places.reset_index(drop=True)
df_places.head(10)

,id,name,street,city,state,zip code,avg rating,total ratings,price level,date,hour
0,0,2840 Cafe at Dukessa,2840 Chimney Rock Rd Suite 1A,Houston,TX,77056,4.9,69,NA,NaN,NaN
1,1,Murphy's Deli,2800 Post Oak Blvd,Houston,TX,77056,5.0,15,1,10/24/20,1000
2,2,North Italia,1700 Post Oak Blvd Ste 190,Houston,TX,77056,4.6,2193,2,10/24/20,1000
3,3,Caracol Restaurant,2200 Post Oak Blvd #160,Houston,TX,77056,4.6,2117,3,10/24/20,1000
4,4,Yummy's Bite,2829 Chimney Rock Rd,Houston,TX,77056,4.9,57,NA,NaN,NaN
5,5,Adair Kitchen,5161 San Felipe St,Houston,TX,77056,4.3,781,2,10/24/20,1000
6,6,Masraff's,1753 Post Oak Blvd,Houston,TX,77056,4.6,500,3,10/24/20,1000
7,7,Truluck's,5350 Westheimer Rd,Houston,TX,77056,4.6,1519,3,10/24/20,1000
8,8,Alexander the Great,3055 Sage Rd,Houston,TX,77056,4.5,383,2,10/24/20,1000
9,9,The Capital Grille,5365 Westheimer Rd,Houston,TX,77056,4.7,574,4,10/24/20,1000

In [40]:
# sorted dataframe by total ratings
df_ratings = df_places.sort_values(by='total ratings', ascending=False)
df_ratings = df_ratings.reset_index(drop=True)
df_ratings.head(10)

,id,name,street,city,state,zip code,avg rating,total ratings,price level,date,hour
0,14,Maggiano's Little Italy,2019 Post Oak Blvd,Houston,TX,77056,4.5,2653,2,10/24/20,1000
1,2,North Italia,1700 Post Oak Blvd Ste 190,Houston,TX,77056,4.6,2193,2,10/24/20,1000
2,3,Caracol Restaurant,2200 Post Oak Blvd #160,Houston,TX,77056,4.6,2117,3,10/24/20,1000
3,18,Yia Yia Mary's,4747 San Felipe St,Houston,TX,77056,4.5,1721,2,10/24/20,1000
4,22,Bubba's Texas Burger Shack,5230 Westpark Dr,Houston,TX,77056,4.6,1697,1,10/24/20,1000
5,7,Truluck's,5350 Westheimer Rd,Houston,TX,77056,4.6,1519,3,10/24/20,1000
6,11,Moxie's,5000 Westheimer Rd,Houston,TX,77056,4.2,1385,2,10/24/20,1000
7,29,Peli Peli South African Kitchen - Galleria,5085 Westheimer Rd B2515,Houston,TX,77056,4.5,1203,3,10/24/20,1000
8,28,True Food Kitchen,1700 Post Oak Blvd #180,Houston,TX,77056,4.5,1203,2,10/24/20,1000
9,19,The Oceanaire Seafood Room,5061 Westheimer Rd,Houston,TX,77056,4.4,827,3,10/24/20,1000

In [41]:
#create specific columns from df - google load
ratings_columns = ["id", "name", "street", "city", "state", "zip code", "avg rating", "total ratings", "price level", "date", "hour"]
ratings_transformed = df_ratings[ratings_columns].copy()

#Rename the column headers
ratings_transformed = ratings_transformed.rename(columns={"id": "id",
                                                         "name": "restaurant_name",
                                                         "street": "street_address",
                                                         "city": "city", 
                                                         "state": "state", 
                                                         "zip code": "zip_code", 
                                                         "avg rating": "avg_rating", 
                                                         "total ratings": "total_ratings", 
                                                         "price level": "price_level",
                                                         "date": "date",
                                                         "hour": "hour"})

# Clean the data by dropping duplicates and setting the index
#ratings_transformed.drop_duplicates("id", inplace=True)
ratings_transformed.set_index("id", inplace=True)

ratings_transformed.head()

,restaurant_name,street_address,city,state,zip_code,avg_rating,total_ratings,price_level,date,hour
id,,,,,,,,,,
14,Maggiano's Little Italy,2019 Post Oak Blvd,Houston,TX,77056,4.5,2653,2,10/24/20,1000
2,North Italia,1700 Post Oak Blvd Ste 190,Houston,TX,77056,4.6,2193,2,10/24/20,1000
3,Caracol Restaurant,2200 Post Oak Blvd #160,Houston,TX,77056,4.6,2117,3,10/24/20,1000
18,Yia Yia Mary's,4747 San Felipe St,Houston,TX,77056,4.5,1721,2,10/24/20,1000
22,Bubba's Texas Burger Shack,5230 Westpark Dr,Houston,TX,77056,4.6,1697,1,10/24/20,1000

In [42]:
#database connection

engine = create_engine(f'postgresql://postgres:{password}@localhost:5432/restaurant_db')

In [43]:
engine.table_names()

['yelp', 'google']

In [45]:
#already a table set up, dont run again
#ratings_transformed.to_sql(name='google', con=engine, if_exists='append', index=True)

In [46]:
#import from a database - SQL
engine = create_engine(f'postgresql://postgres:{password}@localhost:5432/restaurant_db')

In [47]:
inspector = inspect(engine)
inspector.get_table_names()

['yelp', 'google']

In [48]:
#confirm data has been loaded to sql table for google
pd.read_sql_query('select * from google', con=engine).head()

,id,restaurant_name,street_address,city,state,zip_code,avg_rating,total_ratings,price_level,date,hour
0,52,Grand Lux Cafe,5000 Westheimer Rd,Houston,TX,77056,4.2,2887,2,10/24/20,0900
1,14,Maggiano's Little Italy,2019 Post Oak Blvd,Houston,TX,77056,4.5,2657,2,10/24/20,0900
2,2,North Italia,1700 Post Oak Blvd Ste 190,Houston,TX,77056,4.6,2194,2,10/24/20,0900
3,3,Caracol Restaurant,2200 Post Oak Blvd #160,Houston,TX,77056,4.6,2123,3,10/24/20,0900
4,47,Kenny & Ziggy's New York Delicatessen,2327 Post Oak Blvd,Houston,TX,77056,4.6,1953,2,10/24/20,0900

In [50]:
#produce a csv
#ETL_csv_data = ratings_transformed.to_csv('ETL.csv', index = True) 
#print('\nCSV String:\n', ETL_csv_data)

In [ ]:
#import csv from yelp
csv_file = os.path.join("..", "Resources", "yelp_data.csv")
yelp_data_df = pd.read_csv(csv_file)
yelp_data_df.head()

In [ ]:
##create specific columns from df - yelp load
yelp_ratings_columns = ["id", "name", "street", "city", "state", "zip code", "avg rating", "total ratings", "price level", "date", "hour"]
ratings_transformed = yelp_data_df[yelp_ratings_columns].copy()

#Rename the column headers
yelp_ratings_transformed = yelp_ratings_transformed.rename(columns={"id": "id",
                                                         "name": "restaurant_name",
                                                         "street": "street_address",
                                                         "city": "city", 
                                                         "state": "state", 
                                                         "zip code": "zip_code", 
                                                         "avg rating": "avg_rating", 
                                                         "total ratings": "total_ratings", 
                                                         "price level": "price_level",
                                                         "date": "date",
                                                         "hour": "hour"})

# Clean the data by dropping duplicates and setting the index
#ratings_transformed.drop_duplicates("id", inplace=True)
yelp_ratings_transformed.set_index("id", inplace=True)

yelp_ratings_transformed.head()

In [ ]:
#database connection

engine = create_engine(f'postgresql://postgres:{password}@localhost:5432/restaurant_db')

In [ ]:
engine.table_names()

In [ ]:
ratings_transformed.to_sql(name='yelp', con=engine, if_exists='append', index=True)

In [ ]:
#import from a database - SQL
engine = create_engine(f'postgresql://postgres:{password}@localhost:5432/restaurant_db')

In [ ]:
inspector = inspect(engine)
inspector.get_table_names()

In [ ]:
#confirm data has been loaded to sql table
pd.read_sql_query('select * from yelp', con=engine).head()